In [22]:
import pandas as pd

In [23]:
df = pd.read_csv('Autism_Data.csv')
df.head()

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,...,Gender,Ethnicity,Jaundice,Autism,Country,Used_app_before,Result,Age_desc,Relation,Class/ASD
0,1,1,1,1,0,0,1,1,0,0,...,f,White-European,no,no,'United States',no,6,'18 and more',Self,NO
1,1,1,0,1,0,0,0,1,0,1,...,m,Latino,no,yes,Brazil,no,5,'18 and more',Self,NO
2,1,1,0,1,1,0,1,1,1,1,...,m,Latino,yes,yes,Spain,no,8,'18 and more',Parent,YES
3,1,1,0,1,0,0,1,1,0,1,...,f,White-European,no,yes,'United States',no,6,'18 and more',Self,NO
4,1,0,0,0,0,0,0,1,0,0,...,f,?,no,no,Egypt,no,2,'18 and more',?,NO

# Simplification

In [24]:
df.replace("'Health care professional'", 'Professional', inplace=True)

In [25]:
df.replace('?', pd.NA, inplace=True)

In [26]:
print(df.shape)
print(df.dtypes)
print(df.describe(include='all'))
print(df.isnull().sum())

(704, 21)
A1_Score            int64
A2_Score            int64
A3_Score            int64
A4_Score            int64
A5_Score            int64
A6_Score            int64
A7_Score            int64
A8_Score            int64
A9_Score            int64
A10_Score           int64
Age                object
Gender             object
Ethnicity          object
Jaundice           object
Autism             object
Country            object
Used_app_before    object
Result              int64
Age_desc           object
Relation           object
Class/ASD          object
dtype: object
          A1_Score    A2_Score    A3_Score    A4_Score    A5_Score  \
count   704.000000  704.000000  704.000000  704.000000  704.000000
unique         NaN         NaN         NaN         NaN         NaN
top            NaN         NaN         NaN         NaN         NaN
freq           NaN         NaN         NaN         NaN         NaN
mean      0.721591    0.453125    0.457386    0.495739    0.498580
std       0.448535    0.498152    0.498535    0.500337    0.500353
min       0.000000    0.000000    0.000000    0.000000    0.000000
25%       0.000000    0.000000    0.000000    0.000000    0.000000
50%       1.000000    0.000000    0.000000    0.000000    0.000000
75%       1.000000    1.000000    1.000000    1.000000    1.000000
max       1.000000    1.000000    1.000000    1.000000    1.000000

          A6_Score    A7_Score    A8_Score    A9_Score   A10_Score  ...  \
count   704.000000  704.000000  704.000000  704.000000  704.000000  ...
unique         NaN         NaN         NaN         NaN         NaN  ...
top            NaN         NaN         NaN         NaN         NaN  ...
freq           NaN         NaN         NaN         NaN         NaN  ...
mean      0.284091    0.417614    0.649148    0.323864    0.573864  ...
std       0.451301    0.493516    0.477576    0.468281    0.494866  ...
min       0.000000    0.000000    0.000000    0.000000    0.000000  ...
25%       0.000000    0.000000    0.000000    0.000000    0.000000  ...
50%       0.000000    0.000000    1.000000    0.000000    1.000000  ...
75%       1.000000    1.000000    1.000000    1.000000    1.000000  ...
max       1.000000    1.000000    1.000000    1.000000    1.000000  ...

       Gender       Ethnicity Jaundice Autism          Country  \
count     704             609      704    704              704
unique      2              11        2      2               67
top         m  White-European       no     no  'United States'
freq      367             233      635    613              113
mean      NaN             NaN      NaN    NaN              NaN
std       NaN             NaN      NaN    NaN              NaN
min       NaN             NaN      NaN    NaN              NaN
25%       NaN             NaN      NaN    NaN              NaN
50%       NaN             NaN      NaN    NaN              NaN
75%       NaN             NaN      NaN    NaN              NaN
max       NaN             NaN      NaN    NaN              NaN

       Used_app_before      Result       Age_desc Relation Class/ASD
count              704  704.000000            704      609       704
unique               2         NaN              1        5         2
top                 no         NaN  '18 and more'     Self        NO
freq               692         NaN            704      522       515
mean               NaN    4.875000            NaN      NaN       NaN
std                NaN    2.501493            NaN      NaN       NaN
min                NaN    0.000000            NaN      NaN       NaN
25%                NaN    3.000000            NaN      NaN       NaN
50%                NaN    4.000000            NaN      NaN       NaN
75%                NaN    7.000000            NaN      NaN       NaN
max                NaN   10.000000            NaN      NaN       NaN

[11 rows x 21 columns]
A1_Score            0
A2_Score            0
A3_Score            0
A4_Score            0
A5_Score            0
A6_Score            0
A7_Score            0
A8_Score            0
A9_Score            0
A10_Score           0
Age                 2
Gender              0
Ethnicity          95
Jaundice            0
Autism              0
Country             0
Used_app_before     0
Result              0
Age_desc            0
Relation           95
Class/ASD           0
dtype: int64

In [51]:
df['Relation'].value_counts()

Relation
Self            522
Parent           50
Relative         28
Others            5
Professional      4
Name: count, dtype: int64

In [42]:
# Convert 'Age' to numeric, setting errors='coerce' will turn non-numeric values into NaN
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')

print(df['Age'].head())

print(df['Age'].isnull().sum())

0    26.0
1    24.0
2    27.0
3    35.0
4    40.0
Name: Age, dtype: float64
2

In [53]:
df

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,...,Gender,Ethnicity,Jaundice,Autism,Country,Used_app_before,Result,Age_desc,Relation,Class/ASD
0,1,1,1,1,0,0,1,1,0,0,...,F,White-European,No,No,United States,No,6,18 And More,Self,No
1,1,1,0,1,0,0,0,1,0,1,...,M,Latino,No,Yes,Brazil,No,5,18 And More,Self,No
2,1,1,0,1,1,0,1,1,1,1,...,M,Latino,Yes,Yes,Spain,No,8,18 And More,Parent,Yes
3,1,1,0,1,0,0,1,1,0,1,...,F,White-European,No,Yes,United States,No,6,18 And More,Self,No
4,1,0,0,0,0,0,0,1,0,0,...,F,<NA>,No,No,Egypt,No,2,18 And More,<NA>,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699,0,1,0,1,1,0,1,1,1,1,...,F,White-European,No,No,Russia,No,7,18 And More,Self,Yes
700,1,0,0,0,0,0,0,1,0,1,...,M,Hispanic,No,No,Mexico,No,3,18 And More,Parent,No
701,1,0,1,1,1,0,1,1,0,1,...,F,<NA>,No,No,Russia,No,7,18 And More,<NA>,Yes
702,1,0,0,1,1,0,1,0,1,1,...,M,South Asian,No,No,Pakistan,No,6,18 And More,Self,No
703,1,0,1,1,1,0,1,1,1,1,...,F,White-European,No,No,Cyprus,No,8,18 And More,Self,Yes

# Data Imputation

In [55]:
# Fill missing values in 'Ethnicity' and 'Relation' with 'Unknown'
df['Ethnicity'].fillna('Unknown', inplace=True)
df['Relation'].fillna('Unknown', inplace=True)

# Fill missing values in 'Age' with the median value
df['Age'].fillna(df['Age'].median(), inplace=True)

# Verify there are no missing values left
print(df.isnull().sum())

A1_Score           0
A2_Score           0
A3_Score           0
A4_Score           0
A5_Score           0
A6_Score           0
A7_Score           0
A8_Score           0
A9_Score           0
A10_Score          0
Age                0
Gender             0
Ethnicity          0
Jaundice           0
Autism             0
Country            0
Used_app_before    0
Result             0
Age_desc           0
Relation           0
Class/ASD          0
dtype: int64

C:\Users\bhish\AppData\Local\Temp\ipykernel_23828\1626193184.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Ethnicity'].fillna('Unknown', inplace=True)
C:\Users\bhish\AppData\Local\Temp\ipykernel_23828\1626193184.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(), inplace=True)

In [56]:
# Function to clean and format columns
def clean_format_column(df, column_name):
    if df[column_name].dtype == 'object':  # Only apply to object type columns
        df[column_name] = df[column_name].str.strip("'").str.strip().str.title()
    return df

# Columns to clean and format
columns_to_clean = ['Gender', 'Ethnicity', 'Jaundice', 'Autism', 'Country', 'Used_app_before', 'Relation', 'Class/ASD','Age_desc']

# Apply cleaning/formatting function to each column
for col in columns_to_clean:
    df = clean_format_column(df, col)

In [57]:
for column in df.columns:
    print(f"Unique values in {column}: {df[column].unique()}")

Unique values in A1_Score: [1 0]
Unique values in A2_Score: [1 0]
Unique values in A3_Score: [1 0]
Unique values in A4_Score: [1 0]
Unique values in A5_Score: [0 1]
Unique values in A6_Score: [0 1]
Unique values in A7_Score: [1 0]
Unique values in A8_Score: [1 0]
Unique values in A9_Score: [0 1]
Unique values in A10_Score: [0 1]
Unique values in Age: [ 26.  24.  27.  35.  40.  36.  17.  64.  29.  33.  18.  31.  30.  34.
  38.  42.  43.  48.  37.  55.  50.  53.  20.  28.  21. 383.  47.  32.
  44.  19.  58.  45.  22.  39.  25.  23.  54.  60.  41.  46.  56.  61.
  59.  52.  49.  51.]
Unique values in Gender: ['F' 'M']
Unique values in Ethnicity: ['White-European' 'Latino' 'Unknown' 'Others' 'Black' 'Asian'
 'Middle Eastern' 'Pasifika' 'South Asian' 'Hispanic' 'Turkish']
Unique values in Jaundice: ['No' 'Yes']
Unique values in Autism: ['No' 'Yes']
Unique values in Country: ['United States' 'Brazil' 'Spain' 'Egypt' 'New Zealand' 'Bahamas'
 'Burundi' 'Austria' 'Argentina' 'Jordan' 'Ireland' 'United Arab Emirates'
 'Afghanistan' 'Lebanon' 'United Kingdom' 'South Africa' 'Italy'
 'Pakistan' 'Bangladesh' 'Chile' 'France' 'China' 'Australia' 'Canada'
 'Saudi Arabia' 'Netherlands' 'Romania' 'Sweden' 'Tonga' 'Oman' 'India'
 'Philippines' 'Sri Lanka' 'Sierra Leone' 'Ethiopia' 'Viet Nam' 'Iran'
 'Costa Rica' 'Germany' 'Mexico' 'Russia' 'Armenia' 'Iceland' 'Nicaragua'
 'Hong Kong' 'Japan' 'Ukraine' 'Kazakhstan' 'Americansamoa' 'Uruguay'
 'Serbia' 'Portugal' 'Malaysia' 'Ecuador' 'Niger' 'Belgium' 'Bolivia'
 'Aruba' 'Finland' 'Turkey' 'Nepal' 'Indonesia' 'Angola' 'Azerbaijan'
 'Iraq' 'Czech Republic' 'Cyprus']
Unique values in Used_app_before: ['No' 'Yes']
Unique values in Result: [ 6  5  8  2  9 10  4  3  0  1  7]
Unique values in Age_desc: ['18 And More']
Unique values in Relation: ['Self' 'Parent' 'Unknown' 'Professional' 'Relative' 'Others']
Unique values in Class/ASD: ['No' 'Yes']

In [64]:
df

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,...,Gender,Ethnicity,Jaundice,Autism,Country,Used_app_before,Result,Age_desc,Relation,Class/ASD
0,1,1,1,1,0,0,1,1,0,0,...,F,White-European,No,No,United States,No,6,18 And More,Self,No
1,1,1,0,1,0,0,0,1,0,1,...,M,Latino,No,Yes,Brazil,No,5,18 And More,Self,No
2,1,1,0,1,1,0,1,1,1,1,...,M,Latino,Yes,Yes,Spain,No,8,18 And More,Parent,Yes
3,1,1,0,1,0,0,1,1,0,1,...,F,White-European,No,Yes,United States,No,6,18 And More,Self,No
4,1,0,0,0,0,0,0,1,0,0,...,F,Unknown,No,No,Egypt,No,2,18 And More,Unknown,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699,0,1,0,1,1,0,1,1,1,1,...,F,White-European,No,No,Russia,No,7,18 And More,Self,Yes
700,1,0,0,0,0,0,0,1,0,1,...,M,Hispanic,No,No,Mexico,No,3,18 And More,Parent,No
701,1,0,1,1,1,0,1,1,0,1,...,F,Unknown,No,No,Russia,No,7,18 And More,Unknown,Yes
702,1,0,0,1,1,0,1,0,1,1,...,M,South Asian,No,No,Pakistan,No,6,18 And More,Self,No
703,1,0,1,1,1,0,1,1,1,1,...,F,White-European,No,No,Cyprus,No,8,18 And More,Self,Yes

In [58]:
df.to_csv('Autism_Data_visual.csv', index=False, header=True)

In [59]:
# List of categorical columns to be encoded
categorical_columns = ['Ethnicity', 'Relation', 'Gender', 'Jaundice', 'Autism', 'Country', 'Used_app_before', 'Class/ASD', 'Age_desc']

# Perform one-hot encoding
df_encoded = pd.get_dummies(df, columns=categorical_columns, drop_first=True)

In [60]:
from sklearn.preprocessing import StandardScaler

# List of numerical columns to be standardized
numerical_columns = ['Age', 'Result']

scaler = StandardScaler()

# Standardize the numerical columns
df_encoded[numerical_columns] = scaler.fit_transform(df_encoded[numerical_columns])

# Display the first few rows of the standardized DataFrame
df_encoded.head()

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,...,Country_Tonga,Country_Turkey,Country_Ukraine,Country_United Arab Emirates,Country_United Kingdom,Country_United States,Country_Uruguay,Country_Viet Nam,Used_app_before_Yes,Class/ASD_Yes
0,1,1,1,1,0,0,1,1,0,0,...,False,False,False,False,False,True,False,False,False,False
1,1,1,0,1,0,0,0,1,0,1,...,False,False,False,False,False,False,False,False,False,False
2,1,1,0,1,1,0,1,1,1,1,...,False,False,False,False,False,False,False,False,False,True
3,1,1,0,1,0,0,1,1,0,1,...,False,False,False,False,False,True,False,False,False,False
4,1,0,0,0,0,0,0,1,0,0,...,False,False,False,False,False,False,False,False,False,False

In [61]:
print(df_encoded['Age'])
df_encoded['Result']

0     -0.224025
1     -0.345437
2     -0.163319
3      0.322327
4      0.625856
         ...
699   -0.284731
700    0.261621
701   -0.345437
702    0.322327
703   -0.224025
Name: Age, Length: 704, dtype: float64

0      0.450051
1      0.050006
2      1.250142
3      0.450051
4     -1.150131
         ...
699    0.850097
700   -0.750085
701    0.850097
702    0.450051
703    1.250142
Name: Result, Length: 704, dtype: float64

In [62]:
df_encoded.columns

Index(['A1_Score', 'A2_Score', 'A3_Score', 'A4_Score', 'A5_Score', 'A6_Score',
       'A7_Score', 'A8_Score', 'A9_Score', 'A10_Score', 'Age', 'Result',
       'Ethnicity_Black', 'Ethnicity_Hispanic', 'Ethnicity_Latino',
       'Ethnicity_Middle Eastern', 'Ethnicity_Others', 'Ethnicity_Pasifika',
       'Ethnicity_South Asian', 'Ethnicity_Turkish', 'Ethnicity_Unknown',
       'Ethnicity_White-European', 'Relation_Parent', 'Relation_Professional',
       'Relation_Relative', 'Relation_Self', 'Relation_Unknown', 'Gender_M',
       'Jaundice_Yes', 'Autism_Yes', 'Country_Americansamoa', 'Country_Angola',
       'Country_Argentina', 'Country_Armenia', 'Country_Aruba',
       'Country_Australia', 'Country_Austria', 'Country_Azerbaijan',
       'Country_Bahamas', 'Country_Bangladesh', 'Country_Belgium',
       'Country_Bolivia', 'Country_Brazil', 'Country_Burundi',
       'Country_Canada', 'Country_Chile', 'Country_China',
       'Country_Costa Rica', 'Country_Cyprus', 'Country_Czech Republic',
       'Country_Ecuador', 'Country_Egypt', 'Country_Ethiopia',
       'Country_Finland', 'Country_France', 'Country_Germany',
       'Country_Hong Kong', 'Country_Iceland', 'Country_India',
       'Country_Indonesia', 'Country_Iran', 'Country_Iraq', 'Country_Ireland',
       'Country_Italy', 'Country_Japan', 'Country_Jordan',
       'Country_Kazakhstan', 'Country_Lebanon', 'Country_Malaysia',
       'Country_Mexico', 'Country_Nepal', 'Country_Netherlands',
       'Country_New Zealand', 'Country_Nicaragua', 'Country_Niger',
       'Country_Oman', 'Country_Pakistan', 'Country_Philippines',
       'Country_Portugal', 'Country_Romania', 'Country_Russia',
       'Country_Saudi Arabia', 'Country_Serbia', 'Country_Sierra Leone',
       'Country_South Africa', 'Country_Spain', 'Country_Sri Lanka',
       'Country_Sweden', 'Country_Tonga', 'Country_Turkey', 'Country_Ukraine',
       'Country_United Arab Emirates', 'Country_United Kingdom',
       'Country_United States', 'Country_Uruguay', 'Country_Viet Nam',
       'Used_app_before_Yes', 'Class/ASD_Yes'],
      dtype='object')

In [63]:
df_encoded.to_csv('Autism_Data_Cleaned.csv', index=False)